.react-calendar {
  background-color: #f7f4f0 !important;
  border: none !important;
}

.react-calendar__tile {
  background-color: #f7f4f0 !important;
}

.react-calendar__tile--active {
  background-color: #d9c7ab !important;
}
